
.productos{
    padding-top: 200px; 
    margin-bottom: 100px;
}
.remeras{
    display: flex;
    justify-content: space-evenly ;

}
.titulo_producto{
    text-align: center;
    text-decoration: underline;
}
.pantalones{
    display: flex;
    justify-content: space-evenly ;

}
.vestidos{
    display: flex;
    justify-content: space-evenly ;

}
.abrigos{
    display: flex;
    justify-content: space-evenly ;

}
.articulos_2{
    border-radius: 50px;
}
.articulos_2 img{
    border-radius: 50px 50px 0px 0px;
}
.articulos_2 p{
    text-align: center;
    color: white;
}
.articulos_2 span{
    display: flex;
    justify-content: center;
}

.articulos_2{
    background-color: #F28773;
}
@media (max-width: 767px) {
    .articulos_2{
        margin-bottom: 10px;
    }
    .remeras{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .abrigos{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .pantalones{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .vestidos{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .opciones{
        margin-left: 7px;
    }

}