
.inicio{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
font-family: 'Roboto', sans-serif;
}



ul{ 
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.inicio{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li{
    float: left;
}
.articulos{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
/*footer*/
footer{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: space-between ;

}
.primero{
    display: flex;
    justify-content: space-between ;
    

}
.segundo{
    display: flex;
    justify-content: space-between ;
    
}
.tercero{
    display: flex;
    justify-content: space-between ;
    
}
footer p{
    margin-left: 30px;
    margin-bottom: 20px;
}

footer ul{ 
    display: flex;
    flex-direction: column;
    justify-content:start;
}
footer li{
    margin-bottom: 40px;
}
.contacto p{
    margin-right: 30px;
}
