@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url(../img/fondo2.avif);
}
.inicio{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    border: red solid;
}
.encabezado{
    width: 100%;
    position: fixed;
    background-color: rgb(244, 160, 69);
    border: red solid;
}
.carrito{
    display: flex;
    justify-content: center;
    
    margin-top: 1px;
}

.inicio_2{
    margin-top: 5px;
    border: red solid;
}

ul{ 
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.inicio{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
li{
    float: left;
}
.articulos{
    padding-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.articulos article{
    background-color: rgb(244, 160, 69);
}
.video{
    display: flex;
    justify-content: center;
}
.videoo{
    width: 100%;
}

/*footer*/
footer{
    background-color: rgb(244, 160, 69);
    width: 100%;
    display: flex;
    justify-content: space-between ;

}
.primero{
    display: flex;
    width: 33%;
    justify-content: center;
}
.redes{
    margin-right: 16%;
}
.segundo{
    display: flex;
    width: 33%;
   
    justify-content: center;
    
}
.tercero{
    display: flex;
    width: 33%;
    
    
}
.contacto{
    margin-right: 50px;
    
}
.m_pago p{
    text-align: center;
    

}
.tarjeta_1{
    height: 65px;
}
.tarjeta_2{
    height: 65px;
}
.tarjeta_3{
    height: 65px;
    
    
}

footer p{
    margin-left: 30px;
    margin-bottom: 20px;
}

footer ul{ 
    display: flex;
    flex-direction: column;
    justify-content:start;
}
footer li{
    margin-bottom: 40px;
}
.contacto p{
    margin-right: 30px;
}

